# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Logs
*.log

# Node
node_modules/
coverage/
playwright-report/
test-results/

# Build
dist/
build/

# Vercel
.vercel/

# Secretos
.env
.env.*
!.env.example

# Temporales
*.tmp
*.bak
